{# ----- HOME ----- #}
{% extends "layouts::/page.twig" %}
{% block page %}
<div class="container flex-column  mt-6 ">
        <h1>Maitane Azparren</h1>
        <h2>Actualmente exponiendo: <strong>Hiru Hari Hori</strong><br/>junto con Sandra Arróniz y Beruta.</h2>
        <h3>Sala del Horno de la Ciudadela del 20 de diciembre al 16 febrero.</h3>
    </div>



{% endblock %}

